<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/potager-bernard/src/main/java/potager/btalva/ihm/PotagerIhm.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="potager.btalva.ihm.PotagerIhm"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="potager-bernard"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="potager-bernard"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xms1024m -Xmx4096m -Djava.library.path=/Applications/CPLEX_Studio2211/cplex/bin/arm64_osx --module-path /Users/Shared/libs/javafx-sdk-21.0.2/lib --add-modules javafx.controls -Dlogback.configurationFile=${project_loc:potager-bernard}/LOGBACK/logback.xml -DPOTAGER_BERNARD_LOG_DIR=/Users/Shared/BTALVA/logs -DAPPNAME=ArmOsx_PotagerNaffrouBonCote"/>
</launchConfiguration>
